@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/poppins-reg.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/poppins-bold.ttf");
    font-weight: bold;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --white: #f2f2f2;
    --black: #0c0c0c;
    --fucsia: #e30052;
    --fucsiaDarker: #c30148;
    --grey: #cdcdcd;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--white);
}